/* <seletor>{
    <Propriedades>: <valor:>;
} */
@charset "UTF-8"; 
fieldset {
    border-color: #a575e4;
    margin: 20px;
}
fieldset#sexo {
    width: 150px;
}
form {
    width: 500px;
    margin: 0 auto;
}
input{
    font-family: sans-serif;
    font-weight: normal;
    font-size:13pt
}
input:hover{
    background-color: #99b6c7;
}
h1 {
   

    color:rgb(180, 42, 24)   
}
fieldset#usuario{
    background: url"";
}
p{
    color:rgb(29, 72, 192)
}
legend{
    color:crimson
}

/**
inline, id, classe, Elemento
* 0 0 0 0
*/
